* {
  border: 0;
}
body {
  background: #272727;
}

/* Navbar */
.navbar {
  padding: 10px 0;
  background: #2b2c2f;
}
.navbar a {
  margin-right: 15px;
  text-decoration: none;
}

/* Search */
.search {
  height: 90vh;
}
.search_bar {
  width: 500px;
  background: #272727;
  border: 1px solid #666;
}
.search_button {
  background: #36373b;
  color: #fff;
}

/* Advanced Search */
.grid_container {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
}
.advanced {
  margin-top: 200px;
  color: white;
}
.advanced_button {
  background: #a3c3f7;
}
