body {
  background: #1f1f1f;
}

/* Navbar */
.navbar {
  padding: 10px 0;
  background: #2b2c2f;
}
.navbar a {
  margin-right: 15px;
  text-decoration: none;
}

.search {
  height: 90vh;
}
.search_bar {
  width: 500px;
  background: #303134;
}
